@import "variables.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", serif;
  transition: background-color 0.3s, color 0.3s;
}
body.light {
  background-color: white;
  color: black;
}
body.dark {
  background-color: $mainColor;
  // background-color: black;
  color: white;
}

.App {
  max-width: $maxscrin;
  margin: auto;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
