@import "variables.scss";

.navbar-main-container {
  position: absolute;
  align-items: center;
  justify-content: center;

  display: flex;

  width: 100%;
  z-index: 1000;
  color: #fcfcfc;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0, transparent 100%);
}

.navbar-width {
  width: $scrinWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 42px;
  display: flex;
  gap: 8px;
  margin: 5px 0 10px 0;
  cursor: pointer;
  text-shadow: rgb(7, 7, 7) 0.3px 0 5px;
  align-items: center;
}
.logo p {
  font-size: 33px;
  margin-top: 7px;
}
.logo:hover {
  color: $btnColor;
  transition: 1s ease;
  // text-shadow: $btnColor 0.3px 0 5px;
}

.logo-img {
  height: 72px;
}

.navbar-main-btn {
  display: flex;
  gap: 30px;
}

.link-btn {
  font-size: 26px;
  margin: 5px;
  border-radius: 50%;
  text-shadow: rgb(7, 7, 7) 0.3px 0 5px;
}

// .link-btn:last-child {
//   color: $btnColor;
// }
.link-btn:hover {
  color: $btnColor;
  transition: 1s ease;
  text-shadow: $btnColor 0.3px 0 5px;
}

.nav-login {
  color: $btnColor;
}
