$maxscrin: 100vw;
$scrinWidth: 1346px;

// $scrinWidth: 80vw;
// $contentWidth: 1300px;
// $mainColor: #0d0906;
$mainColor: rgb(36 37 42);
// $btnColor: #ff4338;
// $btnColor: #c94949;
$btnColor: #fc9507;
