@import "../variables.scss";
.admin {
  align-items: center;
  justify-content: center;
  max-width: $scrinWidth;
  margin: 0 auto;
  // display: block;
  // position: relative;
}

.admin-page {
  padding-top: 129px;
}

.admin-room-box {
}
// .a {
//
// }
