@import "../variables.scss";
.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $maxscrin;
  margin: 0 auto;
  // display: block;
  // position: relative;
}

.admin-page {
  display: flex;
  align-items: start;
  justify-content: left;
  margin-top: 80px;
  max-width: $scrinWidth;
}

.admin-room-box {
  // display: flex;
  background-color: rgb(236, 235, 235);
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin: 5px;
  // background-color: #fff;
  color: $mainColor;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.admin-room-box:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
// .a {
//
// }
