@import "../variables.scss";

.rooms-page {
  padding-top: 60px;
  display: block;
  align-items: center;
  justify-content: center;
  max-width: $scrinWidth;
  margin: 0 auto;

  position: relative;
}

.sort-btn-container {
  position: relative;
  width: 100%;
  text-align: right;
}

.room {
  width: 100%;
  height: 400px;
  margin: 30px 0;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.room:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.room-images-swiper {
  width: 600px;
  height: 100%;
}

.link-room {
  position: relative; /* Добавлено относительное позиционирование */
  display: inline-block;
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
  text-align: center; /* Центрирование текста внутри контейнера */
  display: flex;
  flex-direction: column;
  height: 100%; /* Убедитесь, что контейнер занимает всю высоту */

  .room-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание по верху */
    align-items: flex-start; /* Выравнивание по левому краю */
    flex-grow: 1; /* Разрешает контейнеру растягиваться */
    width: 100%; /* Убедитесь, что контейнер занимает всю ширину */

    h1 {
      margin: 0 20px;
      text-align: center;
      font-size: 35px;
    }

    p {
      margin: 20px;
      font-size: 25px;
      text-align: left;
    }

    // .short-desc {
    //   text-align: left;
    //   margin-top: 10px; /* Добавлено расстояние сверху */
    // }

    .room-place {
      position: absolute;
      bottom: 60px;
      left: 15px;
      text-align: left;
      font-size: 20px;
    }
  }

  button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 8px 11px;
    font-size: 23px;
    border-radius: 4px;
    color: white;
    background-color: $mainColor;
    width: auto;
    white-space: nowrap;
  }
  button:hover {
    transition: 0.2s;
    background-color: $btnColor;
  }
}
