@import "../variables.scss";

.roomPage {
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  max-width: $scrinWidth;
  margin: 0 auto;
  display: block;
}

.main-swiper-room {
  // width: 100%;
  width: 100%;
  height: 900px;
  object-fit: cover;
  object-position: center;
}

.test {
  display: flex;
}

.room-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
  h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
  }

  p {
    font-size: 22px;
    margin: 50px 20px;
  }
  .places {
    margin: 20px;
    font-size: 23px;
  }
}
.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 16px;

  .test {
    display: flex;
    gap: 10px;
  }

  .book-btn {
    padding: 8px 11px;
    font-size: 23px;
    border-radius: 4px;
    margin-bottom: 80px;
    color: white;
    background-color: $mainColor;
  }
  .book-btn:hover {
    -webkit-box-shadow: 4px 4px 1px -3px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 4px 4px 1px -3px rgba(0, 0, 0, 0.57);
    box-shadow: 4px 4px 1px -3px rgba(0, 0, 0, 0.57);
    transition: 0.2s;
    background-color: $btnColor;
  }
}
