@import "../variables.scss";

.main-user-page {
  display: block;
  text-align: center;

  margin: 0 auto;
  padding-top: 60px;
  max-width: $scrinWidth;
}
.user-page-container {
  margin: 0 auto;
  max-width: 600px;
}
.booking-container {
  margin: 10px auto;
  max-width: 400px;
  border: 1px solid rgb(7, 7, 7);
  // background-color: #1b1b1b;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.user-btn {
  padding: 5px 10px;
  margin: 5px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  background-color: $mainColor;
  transition: 0.2s;
}

.edit-btn:hover {
  background-color: $btnColor;
}

.del-btn:hover {
  background-color: rgb(219, 36, 36);
}

.user-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;

  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.user-modal-content {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1010;
  padding: 20px;
  border-radius: 5px;
}

.modal-btn {
  padding: 5px 10px;
  background-color: $mainColor;
  color: aliceblue;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.2s;
  border-radius: 5px;
}
.modal-btn:hover {
  background-color: $btnColor;
}

.book-btn {
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: $mainColor;
  color: aliceblue;
  transition: 0.2s;
  border-radius: 5px;
}

.book-btn:hover {
  background-color: #fff;
  color: black;
}
